@font-face {
    font-family: digitalfont;
    src: url(digital-7.ttf);
}

body {
    background-color: red;
    overflow: hidden;
    background: linear-gradient(45deg, #0A6EBD, #5A96E3);
}

/* to show the timer in middle and for large screen used this class to show it in center  */
.container {
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
.watch-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* show it in middle css ends */

/* make the div lokk like circular watch added this css */
.watch {
    width: 500px;
    height: 500px;
    background-color: #171010;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 0px 40px black;
    z-index: 99;
    transition: all 0.2s ease-out;
}

/* nail and .pointer
it is used to seconds nail which is set to default position  */
.pointer {
    width: 50px;
    height: 50px;
    background-color: #16FF00;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
}

.nail {
    height: 250px;
    width: 10px;
    position: absolute;
    background-color: #00DFA2;
    top: 0px;
    left: 50%;
    border-radius: 40px;
    transform: translateX(-50%);
}

/* 
used button to start stop and reset .. i used button it has :active property
all button is absolute position and arranged properly  */
.watch-wrapper button {
    position: absolute;
    width: 150px;
    cursor: pointer;
    height: 100px;
    background-color: #0E2954;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
    transition: all .099s ease-out;
}

.reset_btn {
    top: 0px;
    left: 0px;
    border-radius: 30px;
    width: 200px;
    color: white;
    text-align: left;
    padding-left: 20px;
    transform: rotate(50deg);
}

.start_btn {
    top: -86px;
    left: 34%;
    color: white;
    border-radius: 100px;
}

.start_btn:active {
    transform: translatey(10px);
}

.stop_btn {
    top: 0px;
    width: 200px;
    border-radius: 30px;
    transform: rotate(301deg);
    left: 331px;
}

.stop_btn:active {
    transform: translate(-38px, 52px);
}
/* button class ends */

/* this class styles the timer postion  */
.time-box {
    width: 400px;
    height: 200px;
    background: white;
    opacity: .6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 20px;
    font-family: digitalfont;
    text-align: center;
    font-size: 100px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-box div {
    min-width: 100px;
    margin: auto;
}
